{% extends "base.html" %}

{% load static %}
{% block content %}

<div class="container-fluid recipe-post-container">
  <h1>Recipes</h1>
  <div class="row">
    {% for post in object_list %}
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.summary }}
            </p>
            <p class="card-text">
              <small class="text-body-secondary">by {{ post.author }}</small>
            </p>
            <p class="card-text">
              <small class="text-body-secondary">created {{ post.date_created }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
