{% extends 'base.html' %}
{% block title %}{{ post.title }} | ProChef Recipes{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container reduced-width">
  <div class="row">
    <div class="col col-md-6">
      <!-- Display default placeholder image if none uploaded-->
      {% if "placeholder" in post.image.url %}
      <img
        src="{% static 'images/default.png' %}"
        class="fluid detail-image"
        alt="Default image of a cook's workstation"
      >
      {% else %}
      <img
        src="{{ post.image.url }}"
        class="fluid detail-image"
        alt="Image for {{ post.title }}"
      >
      {% endif %}
    </div>
    <!-- Display post details -->
    <div class="col col-md-6">
      <h1 class="post-title">{{ post.title }}</h1>
      <p class="post-summary">{{ post.summary }}</p>
      <p class="post-author">
        Posted by
        <a
          href="{% url 'view_profile' post.author.username %}"
          class="user-link"
          >{{ post.author }}</a
        >
      </p>
    </div>
  </div>
</div>
<!-- Display recipe content -->
<div class="container reduced-width">
  <div class="row">
    <div class="col">
      <h2>Recipe:</h2>
      <div class="post-content">{{ post.recipe_content | safe }}</div>
      {% if user.is_authenticated and post.author == user %}
      <div class="post-actions">
        <a href="{% url 'edit_recipe' post.pk %}" class="button edit-btn"
          >Edit</a
        >
        <button
          type="button"
          class="button delete-recipe-btn"
          data-delete-url="{% url 'delete_recipe' post.pk %}"
        >
          Delete
        </button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- Display comments -->
<div class="container reduced-width">
  <div class="row">
    <div class="col">
      <h3>Comments:</h3>
      {% for comment in comments %}
      <div class="comment">
        <p class="comment-author">{{ comment.author.username }} said:</p>
        <p id="comment{{ comment.id }}" class="comment-content">
          {{ comment.body }}
        </p>
        <p class="comment-date">{{ comment.created_on }}</p>
        <!-- Delete button for logged in author of comment -->
        {% if user.is_authenticated and comment.author == user %}
        <button
          type="button"
          class="button delete-comment-btn"
          data-delete-url="{% url 'delete_comment' post.slug comment.id %}"
        >
          Delete
        </button>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Comment form -->
  {% if user.is_authenticated %}
  <div class="container reduced-width">
    <div class="row">
      <div class="col">
        <h2>Leave a Comment</h2>
        <p>Posting as: {{ user.username }}</p>
        <form id="comment-form" method="post">
          {% csrf_token %} {{ comment_form|crispy }}
          <button type="submit" class="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container reduced-width">
    <div class="row">
      <div class="col">
        <p>
          <a href="{% url 'account_login' %}">Log in</a> to leave a comment.
        </p>
      </div>
    </div>
  </div>
  {% endif %}

</div>

  <!-- Modal for delete recipe confirmation -->
  <div
    class="modal"
    id="deleteRecipeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteRecipeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="deleteRecipeModalLabel">Delete Recipe</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete this recipe? Action can not be
            undone.
          </p>
        </div>
        <div class="modal-footer">
          <a id="deleteRecipeConfirm" href="#" class="btn btn-danger">Delete</a>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for delete comment confirmation -->
  <div
    class="modal"
    id="deleteCommentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteCommentModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="deleteCommentModalLabel">Delete Comment</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this comment?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <a id="deleteCommentConfirm" href="#" class="btn btn-danger"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>

  {% endblock content %} {% block extras %}
  <script src="{% static 'js/comments.js' %}"></script>
  {% endblock %}

