{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="profile-page">
	<h1 class="profile-name">Name:{{ profile.user.username }}</h1>
	<p class="profile-current-role">Current or most recent Role:{{ profile.recent_role }}</p>
	<p class="profile-bio">Biography:{{ profile.bio }}</p>

	<h2>User posts ({{ posts_count }})</h2>
	<ul class="user-posts">
		{% for post in user_posts %}
			<li>
				<a href="#">{{ post.title }}</a> — <small>{{ post.date_created }}</small>
			</li>
		{% empty %}
			<li>No posts yet.</li>
		{% endfor %}
	</ul>
	<button class="edit-profile-btn"><a href="{% url 'edit_profile' %}">Edit Profile</a></button>

</div>

{% endblock content %}